.svg-defs {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.cards {
    width:340px;
    height:251px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;

     @media screen and (min-width: $breakpoint-tablet) {
            width: 100%;
    }


    .image-container {
        height:168px;
        overflow: hidden;
        position: relative;

        img {
            width:100%;
            height: 231px;
            object-fit:cover;
            object-position:bottom;
            object-position: center 80%; // 80% vers le bas

        }

        img.bottom {
            position:absolute;
            bottom:0;
        }

        .tag {
            width:80px;
            height:29px;
            background-color: $tertiary-color;
            color: #008766;
            font-weight: 500;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;            
            z-index:10;
            position: absolute;
            right:13px;
            top: 13px;
            border-radius: 2px;
            box-shadow: 0px 2px 10px 0px #00000040;
        }
    }

    .card-bottom {
        padding:15px 20px;
        box-sizing: border-box;
        flex-direction: column;
    }

    .like-checkbox {
        display: none;
    }

    .heart-label {
        width: 35px;
        height: 35px;
        display: inline-block;
        cursor: pointer;
        z-index:10;
        position: absolute;
        right:20px;
        bottom:30px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width:30px;
            height:30px;
        }

        .heart-path {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: opacity 0.3s ease;
            fill: transparent;
            stroke: black;
            stroke-width: 30px;

        } 
    }
   
    .like-checkbox:checked + .heart-label {

        .heart-path {
            fill: url(#heartGradient);
            stroke: url(#heartGradient);
        }
    }
}


.menu-card {
    all: unset; // remet tout à zéro
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    height:70px;
    width:350px;
    box-shadow: 0px 4px 15px 0px #00000026;
    border:none;
    margin:auto;
    display:flex;
    align-items: end;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    > div:first-child {
        flex: 1 1 auto;        // laisse le texte occuper l'espace restant
        min-width: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        h3,p {
            @include truncate-text; // si tu crées un mixin pour text-overflow
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;                /* s'assurer que text-overflow s'applique */
            display: block;
        }
    }
    
    > div:nth-child(2) {
        flex: 0 0 40px;          /* largeur fixe */
        background-color: white;
        padding-left: 10px;
        transition: margin-right 0.3s ease-in-out;
    }

    .check {
        background-color: $tertiary-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        height:70px;
        width:60px;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right:0;
        bottom:0;
        transform: translateX(100%); // Caché à droite
        transition: transform 0.3s ease-in-out;

        .white-round {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
            color:$tertiary-color;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }

    &:hover,
    &:focus-within {
    
        > div:nth-child(2) {
            margin-right: 60px; // pousse le prix vers la gauche dans le flux
        }

        // animation visuelle de la pastille
        .check {
            transform: translateX(0);
        }
    }
    

    @media screen and (min-width: $breakpoint-tablet) {
        max-width: 634px;
        width:100%;
    }
}